In [2]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

OneHodEncoding

In [7]:
from sklearn.preprocessing import OneHotEncoder

df = pd.DataFrame({'status': ['Single', 'Married', 'Single', 'Relationship', 'Married', 'Single']})

In [9]:
df

         status
0        Single
1       Married
2        Single
3  Relationship
4       Married
5        Single

In [11]:
encoder=OneHotEncoder()
encoder

OneHotEncoder()

In [17]:
encoded=encoder.fit_transform(df[['status']]).toarray()

In [19]:
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [21]:
encoder.get_feature_names_out()

array(['status_Married', 'status_Relationship', 'status_Single'],
      dtype=object)

In [25]:
#converting to df
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [27]:
encoder_df

   status_Married  status_Relationship  status_Single
0             0.0                  0.0            1.0
1             1.0                  0.0            0.0
2             0.0                  0.0            1.0
3             0.0                  1.0            0.0
4             1.0                  0.0            0.0
5             0.0                  0.0            1.0

In [35]:
#newData
encoder.transform([['Single']]).toarray()

array([[0., 0., 1.]])

In [43]:
final_df = pd.concat([df, encoder_df], axis = 1)

In [45]:
final_df

         status  status_Married  status_Relationship  status_Single
0        Single             0.0                  0.0            1.0
1       Married             1.0                  0.0            0.0
2        Single             0.0                  0.0            1.0
3  Relationship             0.0                  1.0            0.0
4       Married             1.0                  0.0            0.0
5        Single             0.0                  0.0            1.0

In [49]:

final_df.drop(['status','status_Married'],inplace=True,axis=1)

In [51]:
final_df

   status_Relationship  status_Single
0                  0.0            1.0
1                  0.0            0.0
2                  0.0            1.0
3                  1.0            0.0
4                  0.0            0.0
5                  0.0            1.0

LabelEncoding

In [54]:
from sklearn.preprocessing import LabelEncoder

In [56]:
label_encoder=LabelEncoder()

In [70]:

label_df=label_encoder.fit_transform(df[['status']])

In [76]:
ldf=pd.DataFrame(label_df,columns=['Label_Encoding'])

In [78]:
ldf

   Label_Encoding
0               2
1               0
2               2
3               1
4               0
5               2

In [82]:
pd.concat([df,ldf],axis=1)

         status  Label_Encoding
0        Single               2
1       Married               0
2        Single               2
3  Relationship               1
4       Married               0
5        Single               2

Ordinal Encoding

In [87]:
from sklearn.preprocessing import OrdinalEncoder

In [99]:
df = pd.DataFrame({"qualification": ["HS", "PG","GR", "HS", "PhD", "HS", "PG"]})

In [101]:
df

  qualification
0            HS
1            PG
2            GR
3            HS
4           PhD
5            HS
6            PG

In [104]:

encoder = OrdinalEncoder(categories = [["HS", "GR", "PG", "PhD"]])

In [106]:
encoder

OrdinalEncoder(categories=[['HS', 'GR', 'PG', 'PhD']])

In [110]:
ordinal_df=encoder.fit_transform(df[['qualification']])

In [115]:
ordinal_df=pd.DataFrame(ordinal_df,columns=['Orders'])

In [117]:
ordinal_df

   Orders
0     0.0
1     2.0
2     1.0
3     0.0
4     3.0
5     0.0
6     2.0

In [119]:
pd.concat([df,ordinal_df],axis=1)

  qualification  Orders
0            HS     0.0
1            PG     2.0
2            GR     1.0
3            HS     0.0
4           PhD     3.0
5            HS     0.0
6            PG     2.0

Target guided ordinal encoding
#target guided ordinal encoding
#relation with target variable
#A lot of unique categories
#replace with mean and and median

In [122]:

df = pd.DataFrame({'time': ['lunch', 'breakfast', 'dinner', 'lunch', 'breakfast', 'dinner', 'lunch', 'breakfast', 'dinner'],
             'total_bill': [120, 120, 40, 150, 160, 130,  40, 150, 160]})

In [124]:
df

        time  total_bill
0      lunch         120
1  breakfast         120
2     dinner          40
3      lunch         150
4  breakfast         160
5     dinner         130
6      lunch          40
7  breakfast         150
8     dinner         160